

input {
    height: 50px;
    width: 440px;
    margin-right: 20px;
    font-size: 20px;
    font-weight: 300;
    padding-left: 15px;
}

button {
    height: 55px;
    width: 130px;
    font-size: 19px;
    color: #fff;
    background-color: #ff6200;
    border-radius: 0;
    text-decoration: none;
    font-weight: 700;
    text-transform: uppercase;
    border: 0;
    display: inline-block;
}